/*
    Copyright (C) 2005 By eSOL Co.,Ltd. Tokyo, Japan

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[kernel.cfg] ver1.0 rev1 - kernel configuration
****************************************************************************/
#ifndef __KERNEL_CFG__
#define __KERNEL_CFG__

/*
 * When using PrKERNELv4, please confirm the definition of __KERNEL_PRKERNELV4__.
 */
#if 0
#ifndef __KERNEL_PRKERNELV4__
#define __KERNEL_PRKERNELV4__
#endif  /* __KERNEL_PRKERNELV4__ */
#endif

/*
 * When using eT-Kernel, please confirm the definition of __KERNEL_ET_KERNEL__.
 */
#if 0
#ifndef __KERNEL_ET_KERNEL__
#define __KERNEL_ET_KERNEL__
#endif  /* __KERNEL_ET_KERNEL__ */
#endif

/*
 * Do not define the multiple kernel.
 */
#if defined __KERNEL_PRKERNELV4__ && defined __KERNEL_ET_KERNEL__
#error The kernel macro definition overlaps.
#endif

#endif  /*  __KERNEL_CFG__  */
